<p id="notice"><%= notice %></p>

<p>
  <strong>Playername:</strong>
  <%= @customerdatum.playername %>
</p>

<p>
  <strong>Betamount:</strong>
  <%= @customerdatum.betamount %>
</p>

<p>
  <strong>Paymenttype:</strong>
  <%= @customerdatum.paymenttype %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @customerdatum.multiplier %>
</p>

<p>
  <strong>Gametype:</strong>
  <%= @customerdatum.gametype %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @customerdatum.commission %>
</p>

<p>
  <strong>Currencyconvert:</strong>
  <%= @customerdatum.currencyconvert %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @customerdatum.outcome %>
</p>

<p>
  <strong>Netincome:</strong>
  <%= @customerdatum.netincome %>
</p>

<%= link_to 'Edit', edit_customerdatum_path(@customerdatum) %> |
<%= link_to 'Back', customerdata_path %>
