<p id="notice"><%= notice %></p>

<h1>Gametypes</h1>
<%= link_to 'New Gametype', new_gametype_path %>
<table>
  <thead>
    <tr>
      <th>Gametype</th>
      <th>Multiplier</th>
      <th>Commission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gametypes.each do |gametype| %>
      <tr>
        <td><%= gametype.gametype %></td>
        <td><%= gametype.multiplier %></td>
        <td><%= gametype.commission %></td>
        <td><%= link_to 'Show', gametype %></td>
        <td><%= link_to 'Edit', edit_gametype_path(gametype) %></td>
        <td><%= link_to 'Destroy', gametype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


