<p id="notice"><%= notice %></p>

<p>
  <strong>Sessionid:</strong>
  <%= @gameinstance.sessionid %>
</p>

<p>
  <strong>Playername:</strong>
  <%= @gameinstance.playername %>
</p>

<p>
  <strong>Betamount:</strong>
  <%= @gameinstance.betamount %>
</p>

<p>
  <strong>Gametype:</strong>
  <%= @gameinstance.gametype %>
</p>

<p>
  <strong>Multiplier:</strong>
  <%= @gameinstance.multiplier %>
</p>

<p>
  <strong>Commission:</strong>
  <%= @gameinstance.commission %>
</p>

<p>
  <strong>Paymentname:</strong>
  <%= @gameinstance.paymentname %>
</p>

<p>
  <strong>Currentprice:</strong>
  <%= @gameinstance.currentprice %>
</p>

<p>
  <strong>Crypto:</strong>
  <%= @gameinstance.crypto %>
</p>

<p>
  <strong>Cryptoprice:</strong>
  <%= @gameinstance.cryptoprice %>
</p>

<p>
  <strong>Outcome:</strong>
  <%= @gameinstance.outcome %>
</p>

<p>
  <strong>Result:</strong>
  <%= @gameinstance.result %>
</p>

<%= link_to 'Edit', edit_gameinstance_path(@gameinstance) %> |
<%= link_to 'Back', gameinstances_path %>
